.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images {
  height: 250px;
  width: 300px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 30px;
}

.Meme {
  height: 250px;
  width: 300px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(207, 206, 206);
  border: 1px solid black;
  border-radius: 30px;
}